{% extends 'layout.html' %}
{% block content %}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container">
        <div class="row flex-center min-vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a
                    class="d-flex flex-center text-decoration-none mb-4" href="{{ url_for('agent_bp.login') }}">
                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                        src="{{url_for('static', filename='/assets/img/icons/logo.png')}}" alt="phoenix" width="150"/>
                </div>
            </a>
                <div class="text-center mb-6">
                    <h4 class="text-body-highlight">Forget Password</h4>
                    <p class="text-body-tertiary">Enter the email associated with your account</p>
                    {% include 'flash.html' %}
                    <form method="POST" action="{{ url_for('agent_bp.forget_password') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="position-relative mb-2" data-password="data-password">
                            <input class="form-control form-icon-input pe-6" id="email" type="email"
                                   placeholder="Type account email" name="email" required/>
                            <br/>
                            <button class="btn btn-primary w-100" type="submit">Send password-reset link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

{% endblock %}